In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Extract CSVs into DataFrames

In [2]:
H1B_2015_file = "./Resources/H-1B_FY15.csv"
H1B_2015_df = pd.read_csv(H1B_2015_file, encoding = "ISO-8859-1")
H1B_2015_df.head()

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_ADDRESS1,EMPLOYER_ADDRESS2,...,PW_WAGE_SOURCE_YEAR,PW_WAGE_SOURCE_OTHER,WAGE_RATE_OF_PAY,WAGE_UNIT_OF_PAY,H-1B_DEPENDENT,WILLFUL VIOLATOR,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE
0,I-200-09121-701936,WITHDRAWN,2/5/2015,2/5/2015,H-1B,02/09/2015,02/28/2015,"MEDTRONIC, INC.",710 MEDTRONIC PARKWAY NE,NaN,...,2014.0,ONLINE DATA SURVEY,20000 -,Year,N,N,EDEN PRAIRIE,STERNS,CA,55412
1,I-200-09146-796321,CERTIFIED,12/12/2014,12/18/2014,H-1B,01/05/2015,01/04/2018,UNIVERSITY OF OKLAHOMA,905 ASP AVE,NEL BLDG 207,...,2014.0,OFLC ONLINE DATA CENTER,85000.00 -,Year,N,N,NORMAN,CLEVELAND,OK,73019
2,I-200-09180-329758,WITHDRAWN,1/3/2013,12/15/2014,H-1B,01/07/2013,01/06/2016,NOKIA INC.,6021 CONNECTION DRIVE,NaN,...,2012.0,OFLC ONLINE DATA CENTER,94000 -,Year,N,N,SAN DIEGO,SAN DIEGO,CA,92127
3,I-200-09183-259985,CERTIFIED,3/10/2015,3/16/2015,H-1B,09/07/2015,09/07/2018,"OMRON OILFIELD AND MARINE, INC.",9510 N. HOUSTON ROSSLYN ROAD,NaN,...,2014.0,OFLC ONLINE DATA CENTER,66000 - 70000,Year,N,N,HOUSTON,HARRIS,TX,77088
4,I-200-09189-800933,CERTIFIED,12/17/2014,12/23/2014,H-1B,06/06/2015,06/05/2018,FEDERAL HOME LOAN MORTGAGE CO.,8250 JONES BRANCH DRIVE,MSA3E,...,2014.0,OFLC ONLINE DATA CENTER,97000 - 143300,Year,N,N,MCLEAN,FAIRFAX,VA,22102

In [3]:
H_1B_FY16_file = "./Resources/H-1B_FY16.csv"
H_1B_FY16_df = pd.read_csv(H_1B_FY16_file, encoding = "ISO-8859-1")
H_1B_FY16_df.head()

C:\Users\sstat\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_ADDRESS,EMPLOYER_CITY,...,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,WAGE_UNIT_OF_PAY,H-1B_DEPENDENT,WILLFUL_VIOLATOR,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,ORIGINAL_CERT_DATE
0,I-200-12240-490687,CERTIFIED-WITHDRAWN,8/27/2012,10/16/2015,H-1B,2/25/2013,2/24/2016,UNIVERSITY OF MICHIGAN,"PIERPONT COMMONS, INTERNATIONAL CENTER",ANN ARBOR,...,"41,000.00",0.00,Year,N,N,ANN ARBOR,WASHTENAW,MI,48109,8/31/2012
1,I-200-13053-847481,CERTIFIED-WITHDRAWN,2/25/2013,1/13/2016,H-1B,8/24/2013,8/23/2016,"GOODMAN NETWORKS, INC.","6400 INTERNATIONAL PARKWAY, SUITE 1000",PLANO,...,"400,000.00",0.00,Year,N,N,PLANO,COLLIN,TX,75093,3/1/2013
2,I-200-13088-054259,CERTIFIED-WITHDRAWN,4/23/2013,12/10/2015,H-1B,4/29/2013,4/28/2016,"PORTS AMERICA GROUP, INC.",525 WASHINGTON BOULEVARD,JERSEY CITY,...,"264,000.00","451,100.00",Year,N,N,JERSEY CITY,HUDSON,NJ,07310,4/29/2013
3,I-200-13144-034110,CERTIFIED-WITHDRAWN,5/24/2013,1/19/2016,H-1B,10/1/2013,9/30/2016,"GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY O...",1551 WEWATTA STREET,DENVER,...,"220,314.00","600,000.00",Year,N,N,DENVER,DENVER,CO,80202,5/29/2013
4,I-200-13172-415116,WITHDRAWN,6/26/2013,5/20/2016,H-1B,10/18/2013,10/17/2016,PEABODY INVESTMENTS CORP.,701 MARKET STREET,ST. LOUIS,...,171.63,0.00,Hour,N,N,ST. LOUIS,ST. LOUIS,MO,63101,NaN

In [4]:
H_1B_FY17_file = "./Resources/H-1B_FY17.csv"
H_1B_FY17_df = pd.read_csv(H_1B_FY17_file, encoding = "ISO-8859-1")
H_1B_FY17_df.head()

C:\Users\sstat\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (14,15,16,24) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_BUSINESS_DBA,EMPLOYER_ADDRESS,...,H1B_DEPENDENT,WILLFUL_VIOLATOR,SUPPORT_H1B,LABOR_CON_AGREE,PUBLIC_DISCLOSURE_LOCATION,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,ORIGINAL_CERT_DATE
0,I-200-16055-173457,CERTIFIED-WITHDRAWN,2/24/2016,10/1/2016,H-1B,8/10/2016,8/10/2019,DISCOVER PRODUCTS INC.,NaN,2500 LAKE COOK ROAD,...,N,N,NaN,Y,NaN,RIVERWOODS,LAKE,IL,60015,3/1/2016
1,I-200-16064-557834,CERTIFIED-WITHDRAWN,3/4/2016,10/1/2016,H-1B,8/16/2016,8/16/2019,DFS SERVICES LLC,NaN,2500 LAKE COOK ROAD,...,N,N,NaN,Y,NaN,RIVERWOODS,LAKE,IL,60015,3/8/2016
2,I-200-16063-996093,CERTIFIED-WITHDRAWN,3/10/2016,10/1/2016,H-1B,9/9/2016,9/9/2019,EASTBANC TECHNOLOGIES LLC,NaN,1211 31ST ST. NW,...,Y,N,Y,NaN,NaN,WASHINGTON,NaN,DC,20007,3/16/2016
3,I-200-16272-196340,WITHDRAWN,9/28/2016,10/1/2016,H-1B,1/26/2017,1/25/2020,INFO SERVICES LLC,NaN,17177 NORTH LAUREL PARK DR,...,Y,N,Y,NaN,NaN,JERSEY CITY,HUDSON,NJ,07302,NaN
4,I-200-15053-636744,CERTIFIED-WITHDRAWN,2/22/2015,10/2/2016,H-1B,3/1/2015,3/1/2018,BB&T CORPORATION,NaN,223 WEST NASH STREET,...,N,N,NaN,Y,NaN,NEW YORK,NEW YORK,NY,10036,2/26/2015

In [5]:
H_1B_FY17_df.rename(columns={'NAICS_CODE': 'NAIC_CODE'}, inplace=True)
H_1B_FY17_df.head()

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_BUSINESS_DBA,EMPLOYER_ADDRESS,...,H1B_DEPENDENT,WILLFUL_VIOLATOR,SUPPORT_H1B,LABOR_CON_AGREE,PUBLIC_DISCLOSURE_LOCATION,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,ORIGINAL_CERT_DATE
0,I-200-16055-173457,CERTIFIED-WITHDRAWN,2/24/2016,10/1/2016,H-1B,8/10/2016,8/10/2019,DISCOVER PRODUCTS INC.,NaN,2500 LAKE COOK ROAD,...,N,N,NaN,Y,NaN,RIVERWOODS,LAKE,IL,60015,3/1/2016
1,I-200-16064-557834,CERTIFIED-WITHDRAWN,3/4/2016,10/1/2016,H-1B,8/16/2016,8/16/2019,DFS SERVICES LLC,NaN,2500 LAKE COOK ROAD,...,N,N,NaN,Y,NaN,RIVERWOODS,LAKE,IL,60015,3/8/2016
2,I-200-16063-996093,CERTIFIED-WITHDRAWN,3/10/2016,10/1/2016,H-1B,9/9/2016,9/9/2019,EASTBANC TECHNOLOGIES LLC,NaN,1211 31ST ST. NW,...,Y,N,Y,NaN,NaN,WASHINGTON,NaN,DC,20007,3/16/2016
3,I-200-16272-196340,WITHDRAWN,9/28/2016,10/1/2016,H-1B,1/26/2017,1/25/2020,INFO SERVICES LLC,NaN,17177 NORTH LAUREL PARK DR,...,Y,N,Y,NaN,NaN,JERSEY CITY,HUDSON,NJ,07302,NaN
4,I-200-15053-636744,CERTIFIED-WITHDRAWN,2/22/2015,10/2/2016,H-1B,3/1/2015,3/1/2018,BB&T CORPORATION,NaN,223 WEST NASH STREET,...,N,N,NaN,Y,NaN,NEW YORK,NEW YORK,NY,10036,2/26/2015

In [6]:
for col in H_1B_FY17_df.columns: 
    print(col)

CASE_NUMBER
CASE_STATUS
CASE_SUBMITTED
DECISION_DATE
VISA_CLASS
EMPLOYMENT_START_DATE
EMPLOYMENT_END_DATE
EMPLOYER_NAME
EMPLOYER_BUSINESS_DBA
EMPLOYER_ADDRESS
EMPLOYER_CITY
EMPLOYER_STATE
EMPLOYER_POSTAL_CODE
EMPLOYER_COUNTRY
EMPLOYER_PROVINCE
EMPLOYER_PHONE
EMPLOYER_PHONE_EXT
AGENT_REPRESENTING_EMPLOYER
AGENT_ATTORNEY_NAME
AGENT_ATTORNEY_CITY
AGENT_ATTORNEY_STATE
JOB_TITLE
SOC_CODE
SOC_NAME
NAIC_CODE
TOTAL_WORKERS
NEW_EMPLOYMENT
CONTINUED_EMPLOYMENT
CHANGE_PREVIOUS_EMPLOYMENT
NEW_CONCURRENT_EMPLOYMENT
CHANGE_EMPLOYER
AMENDED_PETITION
FULL_TIME_POSITION
PREVAILING_WAGE
PW_UNIT_OF_PAY
PW_WAGE_LEVEL
PW_SOURCE
PW_SOURCE_YEAR
PW_SOURCE_OTHER
WAGE_RATE_OF_PAY_FROM
WAGE_RATE_OF_PAY_TO
WAGE_UNIT_OF_PAY
H1B_DEPENDENT
WILLFUL_VIOLATOR
SUPPORT_H1B
LABOR_CON_AGREE
PUBLIC_DISCLOSURE_LOCATION
WORKSITE_CITY
WORKSITE_COUNTY
WORKSITE_STATE
WORKSITE_POSTAL_CODE
ORIGINAL_CERT_DATE

In [7]:
H_1B_FY18_file = "./Resources/H-1B_FY18.csv"
H_1B_FY18_df = pd.read_csv(H_1B_FY18_file, encoding = "ISO-8859-1")
H_1B_FY18_df.head()

C:\Users\sstat\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_BUSINESS_DBA,EMPLOYER_ADDRESS,...,H1B_DEPENDENT,WILLFUL_VIOLATOR,SUPPORT_H1B,LABOR_CON_AGREE,PUBLIC_DISCLOSURE_LOCATION,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,ORIGINAL_CERT_DATE
0,I-200-18026-338377,CERTIFIED,1/29/2018,2/2/2018,H-1B,7/28/2018,7/27/2021,MICROSOFT CORPORATION,NaN,1 MICROSOFT WAY,...,N,N,NaN,NaN,NaN,REDMOND,KING,WA,98052,NaN
1,I-200-17296-353451,CERTIFIED,10/23/2017,10/27/2017,H-1B,11/6/2017,11/6/2020,ERNST & YOUNG U.S. LLP,NaN,200 PLAZA DRIVE,...,N,N,NaN,NaN,NaN,SANTA CLARA,SAN JOSE,CA,95110,NaN
2,I-200-18242-524477,CERTIFIED,8/30/2018,9/6/2018,H-1B,9/10/2018,9/9/2021,LOGIXHUB LLC,NaN,320 DECKER DRIVE,...,N,N,NaN,NaN,NaN,IRVING,DALLAS,TX,75062,NaN
3,I-200-18070-575236,CERTIFIED,NaN,3/30/2018,H-1B,9/10/2018,9/9/2021,"HEXAWARE TECHNOLOGIES, INC.",NaN,101 WOOD AVENUE SOUTH,...,Y,N,Y,NaN,NaN,NEW CASTLE,NEW CASTLE,DE,19720,NaN
4,I-200-18243-850522,CERTIFIED,8/31/2018,9/7/2018,H-1B,9/7/2018,9/6/2021,"ECLOUD LABS,INC.",NaN,120 S WOOD AVENUE,...,Y,N,Y,Y,NaN,BIRMINGHAM,SHELBY,AL,35244,NaN

In [8]:
H_1B_FY18_df.rename(columns={'NAICS_CODE': 'NAIC_CODE'}, inplace=True)

In [9]:
H1B_2015_selected= H1B_2015_df[['CASE_STATUS','VISA_CLASS','NAIC_CODE']]
H1B_2015_selected.head()

  CASE_STATUS VISA_CLASS  NAIC_CODE
0   WITHDRAWN       H-1B   334510.0
1   CERTIFIED       H-1B   611310.0
2   WITHDRAWN       H-1B   517212.0
3   CERTIFIED       H-1B   335314.0
4   CERTIFIED       H-1B   522294.0

In [10]:
H1B_2016_selected= H_1B_FY16_df[['CASE_STATUS','VISA_CLASS','NAIC_CODE']]
H1B_2016_selected.head()

           CASE_STATUS VISA_CLASS  NAIC_CODE
0  CERTIFIED-WITHDRAWN       H-1B   611310.0
1  CERTIFIED-WITHDRAWN       H-1B   238210.0
2  CERTIFIED-WITHDRAWN       H-1B   488310.0
3  CERTIFIED-WITHDRAWN       H-1B     3363.0
4            WITHDRAWN       H-1B   213113.0

In [11]:
H1B_2017_selected= H_1B_FY17_df[['CASE_STATUS','VISA_CLASS','NAIC_CODE']]
H1B_2017_selected.head()

           CASE_STATUS VISA_CLASS NAIC_CODE
0  CERTIFIED-WITHDRAWN       H-1B    522210
1  CERTIFIED-WITHDRAWN       H-1B    522210
2  CERTIFIED-WITHDRAWN       H-1B    541511
3            WITHDRAWN       H-1B    541511
4  CERTIFIED-WITHDRAWN       H-1B    522110

In [12]:
H1B_2018_selected= H_1B_FY18_df[['CASE_STATUS','VISA_CLASS','NAIC_CODE']]
H1B_2018_selected.head()

  CASE_STATUS VISA_CLASS  NAIC_CODE
0   CERTIFIED       H-1B    51121.0
1   CERTIFIED       H-1B   541211.0
2   CERTIFIED       H-1B   541511.0
3   CERTIFIED       H-1B   541511.0
4   CERTIFIED       H-1B   541511.0

In [13]:
Join_H1B = [H1B_2015_selected, H1B_2016_selected, H1B_2017_selected,H1B_2018_selected]
Combined_H1B = pd.concat(Join_H1B)
Combined_H1B

                CASE_STATUS   VISA_CLASS NAIC_CODE
0                 WITHDRAWN         H-1B    334510
1                 CERTIFIED         H-1B    611310
2                 WITHDRAWN         H-1B    517212
3                 CERTIFIED         H-1B    335314
4                 CERTIFIED         H-1B    522294
5                 WITHDRAWN         H-1B    454111
6                 CERTIFIED         H-1B    541511
7                 CERTIFIED         H-1B    522294
8                 CERTIFIED         H-1B    541511
9                    DENIED         H-1B    424460
10                CERTIFIED         H-1B    541511
11                   DENIED         H-1B    541330
12                   DENIED         H-1B    541511
13                CERTIFIED         H-1B    541511
14                CERTIFIED         H-1B    541511
15                CERTIFIED         H-1B    541511
16      CERTIFIED-WITHDRAWN         H-1B    541512
17                CERTIFIED         H-1B    522294
18                WITHDRAWN         H-1B    722110
19                WITHDRAWN         H-1B    722110
20                CERTIFIED         H-1B    551114
21      CERTIFIED-WITHDRAWN         H-1B    336399
22                WITHDRAWN         H-1B    511210
23      CERTIFIED-WITHDRAWN         H-1B    561320
24      CERTIFIED-WITHDRAWN         H-1B    541511
25                CERTIFIED         H-1B    541511
26                CERTIFIED         H-1B    522294
27                CERTIFIED         H-1B    522294
28                CERTIFIED         H-1B     51219
29                WITHDRAWN         H-1B    541511
...                     ...          ...       ...
654330            CERTIFIED         H-1B    541511
654331            CERTIFIED         H-1B    524210
654332            CERTIFIED         H-1B    541511
654333            CERTIFIED         H-1B    541511
654334            CERTIFIED         H-1B    541611
654335            CERTIFIED         H-1B    541511
654336            CERTIFIED         H-1B     54151
654337            CERTIFIED         H-1B     54161
654338            CERTIFIED         H-1B    621111
654339            CERTIFIED         H-1B    454111
654340            CERTIFIED         H-1B    541511
654341            CERTIFIED         H-1B     54151
654342            CERTIFIED         H-1B    541512
654343            CERTIFIED         H-1B    813211
654344            CERTIFIED         H-1B    221210
654345            CERTIFIED         H-1B    531210
654346            CERTIFIED         H-1B    541511
654347            CERTIFIED         H-1B    541511
654348            CERTIFIED         H-1B    541511
654349            CERTIFIED         H-1B    541519
654350            CERTIFIED         H-1B    541511
654351            CERTIFIED         H-1B    541511
654352            CERTIFIED         H-1B    541511
654353            CERTIFIED         H-1B    541511
654354            CERTIFIED         H-1B     54151
654355            CERTIFIED         H-1B    511210
654356            CERTIFIED         H-1B    336612
654357            CERTIFIED  H-1B1 Chile    333311
654358            CERTIFIED         H-1B     54151
654359            CERTIFIED         H-1B     51121

[2545666 rows x 3 columns]

In [14]:
Combined_H1B.isnull().sum()

CASE_STATUS     0
VISA_CLASS      0
NAIC_CODE      38
dtype: int64

In [15]:
Combined_H1B.dropna()

                CASE_STATUS   VISA_CLASS NAIC_CODE
0                 WITHDRAWN         H-1B    334510
1                 CERTIFIED         H-1B    611310
2                 WITHDRAWN         H-1B    517212
3                 CERTIFIED         H-1B    335314
4                 CERTIFIED         H-1B    522294
5                 WITHDRAWN         H-1B    454111
6                 CERTIFIED         H-1B    541511
7                 CERTIFIED         H-1B    522294
8                 CERTIFIED         H-1B    541511
9                    DENIED         H-1B    424460
10                CERTIFIED         H-1B    541511
11                   DENIED         H-1B    541330
12                   DENIED         H-1B    541511
13                CERTIFIED         H-1B    541511
14                CERTIFIED         H-1B    541511
15                CERTIFIED         H-1B    541511
16      CERTIFIED-WITHDRAWN         H-1B    541512
17                CERTIFIED         H-1B    522294
18                WITHDRAWN         H-1B    722110
19                WITHDRAWN         H-1B    722110
20                CERTIFIED         H-1B    551114
21      CERTIFIED-WITHDRAWN         H-1B    336399
22                WITHDRAWN         H-1B    511210
23      CERTIFIED-WITHDRAWN         H-1B    561320
24      CERTIFIED-WITHDRAWN         H-1B    541511
25                CERTIFIED         H-1B    541511
26                CERTIFIED         H-1B    522294
27                CERTIFIED         H-1B    522294
28                CERTIFIED         H-1B     51219
29                WITHDRAWN         H-1B    541511
...                     ...          ...       ...
654330            CERTIFIED         H-1B    541511
654331            CERTIFIED         H-1B    524210
654332            CERTIFIED         H-1B    541511
654333            CERTIFIED         H-1B    541511
654334            CERTIFIED         H-1B    541611
654335            CERTIFIED         H-1B    541511
654336            CERTIFIED         H-1B     54151
654337            CERTIFIED         H-1B     54161
654338            CERTIFIED         H-1B    621111
654339            CERTIFIED         H-1B    454111
654340            CERTIFIED         H-1B    541511
654341            CERTIFIED         H-1B     54151
654342            CERTIFIED         H-1B    541512
654343            CERTIFIED         H-1B    813211
654344            CERTIFIED         H-1B    221210
654345            CERTIFIED         H-1B    531210
654346            CERTIFIED         H-1B    541511
654347            CERTIFIED         H-1B    541511
654348            CERTIFIED         H-1B    541511
654349            CERTIFIED         H-1B    541519
654350            CERTIFIED         H-1B    541511
654351            CERTIFIED         H-1B    541511
654352            CERTIFIED         H-1B    541511
654353            CERTIFIED         H-1B    541511
654354            CERTIFIED         H-1B     54151
654355            CERTIFIED         H-1B    511210
654356            CERTIFIED         H-1B    336612
654357            CERTIFIED  H-1B1 Chile    333311
654358            CERTIFIED         H-1B     54151
654359            CERTIFIED         H-1B     51121

[2545628 rows x 3 columns]

In [16]:
Combined_H1B_certAndDenied = Combined_H1B.dropna().query('CASE_STATUS=="CERTIFIED" | CASE_STATUS=="DENIED"')
Combined_H1B_certAndDenied.head()

  CASE_STATUS VISA_CLASS NAIC_CODE
1   CERTIFIED       H-1B    611310
3   CERTIFIED       H-1B    335314
4   CERTIFIED       H-1B    522294
6   CERTIFIED       H-1B    541511
7   CERTIFIED       H-1B    522294

In [17]:
Combined_H1B_certAndDenied_split = pd.get_dummies(Combined_H1B_certAndDenied, columns=['CASE_STATUS'])
Combined_H1B_certAndDenied_split.head()

  VISA_CLASS NAIC_CODE  CASE_STATUS_CERTIFIED  CASE_STATUS_DENIED
1       H-1B    611310                      1                   0
3       H-1B    335314                      1                   0
4       H-1B    522294                      1                   0
6       H-1B    541511                      1                   0
7       H-1B    522294                      1                   0

In [19]:
Combined_H1B_agg = Combined_H1B_certAndDenied_split.groupby(["NAIC_CODE"],as_index=False).sum()
Combined_H1B_agg.head()

  NAIC_CODE  CASE_STATUS_CERTIFIED  CASE_STATUS_DENIED
0         0                    0.0                 1.0
1        23                    3.0                 1.0
2        31                    0.0                 1.0
3       161                    0.0                 1.0
4       236                    5.0                 3.0

In [20]:
Combined_H1B_agg['PERCENTAGE_DENIED']= (Combined_H1B_agg['CASE_STATUS_DENIED']/(Combined_H1B_agg['CASE_STATUS_CERTIFIED'] + Combined_H1B_agg['CASE_STATUS_DENIED']))
Combined_H1B_agg.head()

  NAIC_CODE  CASE_STATUS_CERTIFIED  CASE_STATUS_DENIED  PERCENTAGE_DENIED
0         0                    0.0                 1.0              1.000
1        23                    3.0                 1.0              0.250
2        31                    0.0                 1.0              1.000
3       161                    0.0                 1.0              1.000
4       236                    5.0                 3.0              0.375

In [46]:
Finalized_H1B= Combined_H1B_agg
Finalized_H1B

     NAIC_CODE  CASE_STATUS_CERTIFIED  CASE_STATUS_DENIED  PERCENTAGE_DENIED
0            0                    0.0                 1.0           1.000000
1           23                    3.0                 1.0           0.250000
2           31                    0.0                 1.0           1.000000
3          161                    0.0                 1.0           1.000000
4          236                    5.0                 3.0           0.375000
5          237                    2.0                 1.0           0.333333
6          315                    1.0                 1.0           0.500000
7          334                    1.0                 0.0           0.000000
8          517                    1.0                 2.0           0.666667
9          523                    0.0                 2.0           1.000000
10         541                    0.0                 1.0           1.000000
11         622                    0.0                 1.0           1.000000
12        1111                   15.0                 1.0           0.062500
13        1112                   14.0                 1.0           0.066667
14        1113                   36.0                 0.0           0.000000
15        1114                   74.0                 9.0           0.108434
16        1119                   10.0                 2.0           0.166667
17        1121                   11.0                 1.0           0.083333
18        1122                    9.0                 0.0           0.000000
19        1123                    1.0                 0.0           0.000000
20        1125                    5.0                 1.0           0.166667
21        1129                    2.0                 0.0           0.000000
22        1131                    1.0                 1.0           0.500000
23        1133                    1.0                 0.0           0.000000
24        1141                    4.0                 2.0           0.333333
25        1151                    8.0                 3.0           0.272727
26        1153                    8.0                 0.0           0.000000
27        1517                    0.0                 5.0           1.000000
28        1542                    2.0                 4.0           0.666667
29        1980                    0.0                 1.0           1.000000
...        ...                    ...                 ...                ...
3392    813110                   15.0                 1.0           0.062500
3393    813211                    4.0                 0.0           0.000000
3394    813212                    1.0                 0.0           0.000000
3395      8133                    1.0                 0.0           0.000000
3396     81331                    1.0                 0.0           0.000000
3397    813311                    3.0                 0.0           0.000000
3398    813312                    1.0                 0.0           0.000000
3399    813319                    1.0                 0.0           0.000000
3400    813410                    5.0                 0.0           0.000000
3401    813910                    1.0                 0.0           0.000000
3402    813920                    6.0                 0.0           0.000000
3403    813930                    1.0                 0.0           0.000000
3404    813990                    1.0                 0.0           0.000000
3405    921140                    1.0                 0.0           0.000000
3406    921190                    2.0                 0.0           0.000000
3407    922140                    1.0                 0.0           0.000000
3408      9231                    2.0                 0.0           0.000000
3409     92311                    1.0                 0.0           0.000000
3410    923110                    4.0                 0.0           0.000000
3411    923120                    3.0                 0.0           0.000000
3412    923140                    1.0                 0.0           0.000000
3413     92411                    1.0                 0.0           0.000000
3414    924110                    1.0                 0.0           0.000000
3415    925120                    1.0                 0.0           0.000000
3416    926110                    1.0                 0.0           0.000000
3417    926120                    1.0                 0.0           0.000000
3418     92615                    1.0                 0.0           0.000000
3419    926150                    1.0                 0.0           0.000000
3420     92711                    1.0                 0.0           0.000000
3421    927110                    1.0                 0.0           0.000000

[3422 rows x 4 columns]

In [22]:
us_perm_file = "./Resources/us_perm_visas.csv"
us_perm_df = pd.read_csv(us_perm_file)
us_perm_df.head()

C:\Users\sstat\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (0,1,2,3,4,5,6,7,10,11,16,17,20,21,22,25,26,27,28,29,30,31,32,33,34,35,36,37,39,40,41,42,43,44,45,47,48,49,50,51,52,53,55,56,57,58,59,60,61,63,64,65,66,68,69,70,71,72,73,74,77,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,100,101,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,153) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,add_these_pw_job_title_9089,agent_city,agent_firm_name,agent_state,application_type,case_no,case_number,case_received_date,case_status,class_of_admission,...,ri_pvt_employment_firm_to,ri_us_workers_considered,schd_a_sheepherder,us_economic_sector,wage_offer_from_9089,wage_offer_to_9089,wage_offer_unit_of_pay_9089,wage_offered_from_9089,wage_offered_to_9089,wage_offered_unit_of_pay_9089
0,NaN,NaN,NaN,NaN,PERM,A-07323-97014,NaN,NaN,Certified,J-1,...,NaN,NaN,NaN,IT,75629,NaN,yr,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,PERM,A-07332-99439,NaN,NaN,Denied,B-2,...,NaN,NaN,NaN,Other Economic Sector,37024,NaN,yr,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,PERM,A-07333-99643,NaN,NaN,Certified,H-1B,...,NaN,NaN,NaN,Aerospace,47923,NaN,yr,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,PERM,A-07339-01930,NaN,NaN,Certified,B-2,...,NaN,NaN,NaN,Other Economic Sector,10.97,NaN,hr,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,PERM,A-07345-03565,NaN,NaN,Certified,L-1,...,NaN,NaN,NaN,Advanced Mfg,100000,NaN,yr,NaN,NaN,NaN

In [23]:
us_perm_df.rename(columns={'naics_code': 'NAIC_CODE'}, inplace=True)

In [24]:
us_perm_selected= us_perm_df[['case_status','class_of_admission','NAIC_CODE','naics_title']]
us_perm_selected.head()

  case_status class_of_admission NAIC_CODE naics_title
0   Certified                J-1       NaN         NaN
1      Denied                B-2       NaN         NaN
2   Certified               H-1B       NaN         NaN
3   Certified                B-2       NaN         NaN
4   Certified                L-1       NaN         NaN

In [25]:
us_perm_selected.isnull().sum()

case_status                0
class_of_admission     22845
NAIC_CODE             285929
naics_title           285929
dtype: int64

In [26]:
us_perm_selected.dropna()

,case_status,class_of_admission,NAIC_CODE,naics_title
135269,Certified,H-1B,335312,Motor and Generator Manufacturing
135271,Denied,H-1B,54171,"Research and Development in the Physical, Engi..."
135272,Certified,E-2,45399,All Other Miscellaneous Store Retailers
135274,Certified,F-1,722110,Full-Service Restaurants
135275,Certified-Expired,H-1B,541219,Other Accounting Services
135279,Certified-Expired,H-1B,541512,Computer Systems Design Services
135281,Certified,H-1B,324110,Petroleum Refineries
135282,Certified,Not in USA,561720,Janitorial Services
135283,Certified-Expired,H-1B,541512,Computer Systems Design Services
135285,Certified,L-1,541511,Custom Computer Programming Services
135286,Certified,H-1B,541512,Computer Systems Design Services
135287,Certified,H-1B,334119,Other Computer Peripheral Equipment Manufacturing
135289,Certified,H-1B,211111,Crude Petroleum and Natural Gas Extraction
135290,Certified,H-1B,524130,Reinsurance Carriers
135291,Certified,L-1,54151,Computer Systems Design and Related Services
135292,Certified,F-1,541519,Other Computer Related Services
135293,Certified,Parolee,334220,Radio and Television Broadcasting and Wireless...
135294,Certified,H-1B,115116,Farm Management Services
135295,Certified-Expired,H-1B,541512,Computer Systems Design Services
135296,Certified-Expired,H-1B,54161,Management Consulting Services
135298,Certified-Expired,H-1B,541512,Computer Systems Design Services
135299,Certified,H-1B,541511,Custom Computer Programming Services
135302,Denied,E-1,488510,Freight Transportation Arrangement
135303,Certified-Expired,H-1B,611310,"Colleges, Universities, and Professional Schools"
135304,Certified,H-1B,611310,"Colleges, Universities, and Professional Schools"
135305,Certified-Expired,H-1B,541512,Computer Systems Design Services
135306,Certified-Expired,H-1B,541511,Custom Computer Programming Services
135307,Certified-Expired,H-1B,541512,Computer Systems Design Services
135313,Certified,L-1,33441,Semiconductor and Other Electronic Component M...
135314,Certified,H-1B,541511,Custom Computer Programming Services
...,...,...,...,...
223870,Certified,H-1B,541512,Computer Systems Design Services
223871,Withdrawn,H-1B,518112,Web Search Portals
223872,Withdrawn,L-1,334220,Radio and Television Broadcasting and Wireless...
223873,Certified,H-1B,236220,Commercial and Institutional Building Construc...
223874,Certified,F-1,6241,Individual and Family Services
223875,Withdrawn,H-1B,541511,Custom Computer Programming Services
223876,Certified,H-1B,541511,Custom Computer Programming Services
223877,Certified,H-1B,541511,Custom Computer Programming Services
223878,Withdrawn,H-1B,541511,Custom Computer Programming Services
223879,Withdrawn,H-1B,541511,Custom Computer Programming Services
223880,Withdrawn,H-1B,425110,Business to Business Electronic Markets
223881,Withdrawn,H-1B,541910,Marketing Research and Public Opinion Polling
223882,Withdrawn,H-1B,51121,Software Publishers
223883,Withdrawn,H-1B,336111,Automobile Manufacturing
223884,Withdrawn,H-1B,5415,Computer Systems Design and Related Services
223888,Withdrawn,H-1B,452990,All Other General Merchandise Stores
223889,Withdrawn,H-1B,541512,Computer Systems Design Services
223890,Withdrawn,H-1B,3344,Semiconductor and Other Electronic Component M...
223891,Withdrawn,H-1B,518112,Web Search Portals
223894,Withdrawn,L-1,541519,Other Computer Related Services
223895,Withdrawn,H-1B,541511,Custom Computer Programming Services
223896,Withdrawn,H-1B,54171,"Research and Development in the Physical, Engi..."
223897,Withdrawn,H-1B,51121,Software Publishers
223898,Withdrawn,F-1,541990,"All Other Professional, Scientific, and Techni..."
223900,Denied,B-1,62111,Offices of Physicians
223901,Withdrawn,H-1B,334111,Electronic Computer Manufacturing
223905,Withdrawn,H-1B,541310,Architectural Services
223906,Withdrawn,H-1B,561450,Credit Bureaus
223907,Withdrawn,H-1B,524298,All Other Insurance Related Activities
223908,Withdrawn,H-1B,541511,Custom Computer Programming Services

In [27]:
us_perm_certAndDenied = us_perm_selected.dropna().query('case_status=="Certified" | case_status=="Denied"')
us_perm_certAndDenied.head()

,case_status,class_of_admission,NAIC_CODE,naics_title
135269,Certified,H-1B,335312,Motor and Generator Manufacturing
135271,Denied,H-1B,54171,"Research and Development in the Physical, Engi..."
135272,Certified,E-2,45399,All Other Miscellaneous Store Retailers
135274,Certified,F-1,722110,Full-Service Restaurants
135281,Certified,H-1B,324110,Petroleum Refineries

In [28]:
us_perm_certAndDenied_split = pd.get_dummies(us_perm_certAndDenied, columns=['case_status'])
us_perm_certAndDenied_split.head()

,class_of_admission,NAIC_CODE,naics_title,case_status_Certified,case_status_Denied
135269,H-1B,335312,Motor and Generator Manufacturing,1,0
135271,H-1B,54171,"Research and Development in the Physical, Engi...",0,1
135272,E-2,45399,All Other Miscellaneous Store Retailers,1,0
135274,F-1,722110,Full-Service Restaurants,1,0
135281,H-1B,324110,Petroleum Refineries,1,0

In [42]:
us_perm_certAndDenied_agg = us_perm_certAndDenied_split.groupby(["NAIC_CODE"],as_index=False).sum()
us_perm_certAndDenied_agg.head()

  NAIC_CODE  case_status_Certified  case_status_Denied
0        23                    2.0                 1.0
1        42                    0.0                 1.0
2        54                    1.0                 0.0
3        62                    1.0                 1.0
4        71                    1.0                 0.0

In [44]:
us_perm_certAndDenied_agg['percentage_Denied']= us_perm_certAndDenied_agg['case_status_Denied']/(us_perm_certAndDenied_agg['case_status_Certified'] + us_perm_certAndDenied_agg['case_status_Denied'])
us_perm_certAndDenied_agg.head()

  NAIC_CODE  case_status_Certified  case_status_Denied  percentage_Denied
0        23                    2.0                 1.0           0.333333
1        42                    0.0                 1.0           1.000000
2        54                    1.0                 0.0           0.000000
3        62                    1.0                 1.0           0.500000
4        71                    1.0                 0.0           0.000000

In [45]:
Finalized_US_Perm= us_perm_certAndDenied_agg
Finalized_US_Perm

     NAIC_CODE  case_status_Certified  case_status_Denied  percentage_Denied
0           23                    2.0                 1.0           0.333333
1           42                    0.0                 1.0           1.000000
2           54                    1.0                 0.0           0.000000
3           62                    1.0                 1.0           0.500000
4           71                    1.0                 0.0           0.000000
5          236                    4.0                 2.0           0.333333
6          237                    0.0                 1.0           1.000000
7          311                    4.0                 0.0           0.000000
8          315                    2.0                 1.0           0.333333
9          325                    1.0                 0.0           0.000000
10         334                    8.0                 0.0           0.000000
11         337                    0.0                 1.0           1.000000
12         517                   20.0                 1.0           0.047619
13         519                    3.0                 0.0           0.000000
14         523                    2.0                 0.0           0.000000
15         531                    1.0                 0.0           0.000000
16         611                    1.0                 1.0           0.500000
17         622                    1.0                 0.0           0.000000
18         722                    6.0                 0.0           0.000000
19        1119                    0.0                 1.0           1.000000
20        2111                    5.0                 0.0           0.000000
21        2122                    1.0                 0.0           0.000000
22        2211                   21.0                 1.0           0.045455
23        2361                    3.0                 3.0           0.500000
24        2362                    2.0                 0.0           0.000000
25        2379                    2.0                 0.0           0.000000
26        2389                    3.0                 0.0           0.000000
27        3115                    1.0                 0.0           0.000000
28        3118                    1.0                 0.0           0.000000
29        3119                    4.0                 0.0           0.000000
...        ...                    ...                 ...                ...
2170    813319                    4.0                 1.0           0.200000
2171    813410                    4.0                 1.0           0.200000
2172      8139                    1.0                 0.0           0.000000
2173    813910                    4.0                 1.0           0.200000
2174     81392                    1.0                 0.0           0.000000
2175    813920                    7.0                 2.0           0.222222
2176     81393                    0.0                 1.0           1.000000
2177    813930                    1.0                 0.0           0.000000
2178    813940                    1.0                 0.0           0.000000
2179    813990                    1.0                 0.0           0.000000
2180       814                    0.0                 1.0           1.000000
2181     81411                    0.0                 1.0           1.000000
2182    814110                   36.0                16.0           0.307692
2183    921110                    3.0                 2.0           0.400000
2184    921130                    2.0                 0.0           0.000000
2185     92119                    1.0                 1.0           0.500000
2186    921190                    1.0                 0.0           0.000000
2187    922110                    1.0                 0.0           0.000000
2188     92311                    2.0                 8.0           0.800000
2189    923110                    4.0                 1.0           0.200000
2190    923120                    3.0                 0.0           0.000000
2191    923130                    0.0                 1.0           1.000000
2192      9251                    0.0                 1.0           1.000000
2193    925110                    1.0                 0.0           0.000000
2194     92512                    2.0                 0.0           0.000000
2195    925120                    3.0                 0.0           0.000000
2196    926110                    4.0                 0.0           0.000000
2197    926130                    2.0                 0.0           0.000000
2198    926140                    1.0                 0.0           0.000000
2199    926150                    3.0                 0.0           0.000000

[2200 rows x 4 columns]

In [ ]:
##Table-1
#Finalized_H1B
#NAIC_CODE
#CASE_STATUS_CERTIFIED
#CASE_STATUS_DENIED
#PERCENTAGE_DENIED

##Table-2
#Finalized_US_Perm
#NAIC_CODE
#case_status_Certified
#case_status_Denied
#percentage_Denied

### Create database connection

In [38]:
connection_string = "root:Ch3ll!88@127.0.0.1/case_status_db"
engine = create_engine(f'mysql://{connection_string}')

In [39]:
# Confirm tables
engine.table_names()

['finalized_h1b']

### Load DataFrames into database

In [54]:
Finalized_H1B.dtypes

NAIC_CODE                 object
CASE_STATUS_CERTIFIED    float64
CASE_STATUS_DENIED       float64
PERCENTAGE_DENIED        float64
dtype: object

In [55]:
Finalized_H1B
Finalized_H1B.to_sql(name='Finalized_H1B', con=engine, if_exists='append', index=False)

C:\Users\sstat\Anaconda3\lib\site-packages\pandas\io\sql.py:1144: UserWarning: The provided table name 'Finalized_H1B' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

In [56]:
Finalized_US_Perm
Finalized_US_Perm.to_sql(name='Finalized_US_Perm', con=engine, if_exists='append', index=False)

C:\Users\sstat\Anaconda3\lib\site-packages\pandas\io\sql.py:1144: UserWarning: The provided table name 'Finalized_US_Perm' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)